%h4 Listing <%= plural_table_name.humanize %>
%table.outer-list#top-level
	%thead 
		<% if @search_sort %>
		%tr.header-row
			%td{ colspan: "<%= @col_count %>" }
				%table{style: "width: 100%"}
					%tr
						%td= render "sort_form" #, :opts => @sort_dropdown_opts
						%td{ style: "text-align: right" }= render "search_form"
		<% end %>
		%tr.header-row{	style: "font-weight: bold;" }
		<% @attr_cols.each do |col| %>
			%td <%= col.name.humanize %>
		<% end %>
		<% if inc_link?("edit") %>
			%td.link_col
		<% end %>
		<% if inc_link?("destroy") %>
			%td.link_col
		<% end %>
	%tbody.items
		- @<%= plural_table_name %>.each do |<%= singular_table_name %>|
			%tr.item
			<% @attr_cols.each do |col| %> 
				%td= <%= singular_table_name %>.<%= col.name %>
			<% end %>
			<% if inc_link?("edit") %>
				%td= link_to "Edit", edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
			<% end %>
			<% if inc_link?("destroy") %>
				%td= link_to "Del", <%= singular_table_name %>, method: :delete, data: {confirm: "Are you sure?"}  
			<% end %>
	<% if options.ext_index_nav? %>
		%tr#pagination-row
			%td{:colspan => '<%= @col_count %>', :class => "pagination-container"}
				= render partial: 'pagination', locals: { :coll => @<%= plural_table_name %> }
	<% end %>
%br/ 
<% if inc_link?("new") %>
= link_to 'New <%= singular_table_name.humanize %>', new_<%= singular_table_name %>_path
<% end %>