=form_for @person do |f|
	%table.outer
	
		%tr
			%td= f.label :first_name
			
			%td.field= f.text_field :first_name
	
		%tr
			%td= f.label :last_name
			
			%td.field= f.text_field :last_name
	
		%tr
			%td= f.label :email
			
			%td.field= f.text_field :email
	
		%tr
			%td= f.label :title
			
			%td.field= f.text_field :title
	
		%tr
			%td= f.label :dob
			
			%td.field= f.datetime_select :dob
	
		%tr
			%td= f.label :is_manager
			
			%td.field= f.check_box :is_manager
	
		%tr
		
			%td{:colspan => "2", :style => "text-align: center;"}
				= f.submit "Save & Back to List"
				= f.submit "Save & Reload"
		
%br/
= link_to "Back", people_path